body{
	font-family: "Times New Roman", serif;
	background-image: url(background.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.button {
	margin: 40px 20px;
}
.btn-one {
	background-color: darkorange;
	font-family: "Times New Roman", serif;
	border: 5px solid green;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 30px;
	text-transform: uppercase;
}
.btn-one:hover
{
	background-color: #00ffff;
	transition: all 0.5s ease-in;
}

h1{
	font-size: 50px;
	text-align: center;
	color: red;
	margin-left: 440px;
	margin-right: 440px;
	border: 5px solid green;
	border-style: dashed;
	background: #00ffff;
	padding: 10px 30px;
	text-decoration: none;
}
.gallery{
	margin: 10px 50px;
	border: 7px solid #ccc;
}
.gallery img{
	width: 230px;
	height: 300px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}
.gallery img:hover{
	filter: grayscale(0);
	transform: scale(1.1);
}
